#####################################################################
#  Fan Control
#####################################################################

##  Controller fan (5V Fan 4 wire)
##  Z board, NeoPixel Connector (PWM)
##  Z board, Y Endstop (Tacho)
[heater_fan controller_fan]
pin: PA13
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.0001     #10 kHz PWM signal
hardware_pwm: False
kick_start_time: 0
fan_speed: 1.0
heater: heater_bed
heater_temp: 35.0
#gcode_id: E
#tachometer_pin: z:P1.28
#tachometer_ppr: 2

##  Chamber temp / Exhaust fan (24V Fan 4 wire)
##  XYE board, NeoPixel Connector (PWM)
##  XYE board, TH1 Connector
##  XYE board, Z Endstop (Tacho)
[temperature_fan chamber]
pin: PB2
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.0005     #2 kHz PWM signal
hardware_pwm: False
kick_start_time: 0
sensor_type: Generic 3950
sensor_pin: PC3
min_temp: 0
max_temp: 75
target_temp: 50
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
gcode_id: C
#tachometer_pin: P1.27
#tachometer_ppr: 2

#[temperature_sensor Chamber]
#sensor_type: Generic 3950
#sensor_pin: PC2

##  Nevermore Micro filter
##  - Z board, E1 Connector
[fan_generic filter]
pin: PC8
max_power: 1.0
kick_start_time: 0.5
min_power: 0.10

##  Nevermore Bed Rechts Links
[fan_generic bed_fans]
## Nevermore Fan - HE2 ##
pin: PA14
#pwm:true
max_power: 1.0
kick_start_time: 0.5
min_power: 0.10

##  Alu Bed M3 TH Connector
[temperature_sensor M3]
sensor_type: Generic 3950    #Generic 3950
sensor_pin: PB1
min_temp: 10
max_temp: 150
gcode_id: E

##  Motor A
[temperature_sensor TMC_Motor_B]
sensor_type: Generic 3950    #Generic 3950
sensor_pin: PC0
min_temp: 10
max_temp: 150
gcode_id: F

[temperature_sensor TMC_Motor_A]
sensor_type: Generic 3950    #Generic 3950
sensor_pin: PC1
min_temp: 10
max_temp: 150
gcode_id: G

[temperature_sensor Kraken]
sensor_type: PT1000   #Generic 3950
sensor_pin: PB0
min_temp: 10
max_temp: 150
gcode_id: H

##  Spider Stepper Kühler
#[fan_generic TMC_Fans]
## Nevermore Fan - HE2 ##
#pin: PB7
#max_power: 1.0
#min_power: 0.6
#stepper: stepper_x, stepper_y

[controller_fan driver_fan]
pin: PB7
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: True
kick_start_time: 0.100
min_power: 0.0
#   See the "fan" section for a description of the above parameters.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 15
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.2
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater: extruder
stepper: stepper_x, stepper_y
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

[led daylight]
white_pin: PB3
cycle_time: 0.001
hardware_pwm: True
initial_WHITE: 0.05



## dummy output to get an switch in Mainsail
## any unused mcu pin can be defined you will not connect anything
## as I use the rPi as mcu I will use a pin from it
## Off -> M106 will update fan
## On -> M106 can not uodate fan
[output_pin lock_M106]
pin: rpi: gpio16
value:0





